<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h3>Información del Cliente</h3>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-6">
              <strong>Primer Nombre:</strong>
            </div>
            <div class="col-6">
              {{ cliente.primerNombre }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <strong>Segundo Nombre:</strong>
            </div>
            <div class="col-6">
              {{ cliente.segundoNombre }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <strong>Primer Apellido:</strong>
            </div>
            <div class="col-6">
              {{ cliente.primerApellido }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <strong>Segundo Apellido:</strong>
            </div>
            <div class="col-6">
              {{ cliente.segundoApellido }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <strong>Teléfono:</strong>
            </div>
            <div class="col-6">
              {{ cliente.telefono }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <strong>Ciudad:</strong>
            </div>
            <div class="col-6">
              {{ cliente.ciudad }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <strong>Dirección:</strong>
            </div>
            <div class="col-6">
              {{ cliente.direccion }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
